
@import 'variables';
@import 'scaffolding';

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

@mixin message() {
  text-align: left;
  opacity: 0;
  display: inline-block;
  transition: opacity 1s ease-out;
}

@mixin caps() {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

@mixin modal() {
  position: absolute;
  margin: 1em auto 1em;
  left: 0;
  right: 0;
  padding: .5em;
  min-width: 400px;
  color: $font-color;
  padding: 1em 1em 1em 1em;
  border: 1px solid $secondary-light;
  overflow: clip;
  z-index: -1;
}

body {
  @include flexCenter(column);
  font-family: $font-family;
  background-color: $secondary-dark;
}

// Viewport

#viewport {
  width: 60vw;
  height: 25vh;
  margin-top: -3em;
  border: 1px solid $secondary-light;
  border-radius: 30px;
  background-image: url('https://cdn.theatlantic.com/thumbor/VCoUZjXa6W3jOoQ9yG4pFlR59LY=/80x43:2688x1999/1200x900/media/img/mt/2015/10/Cygnus_v3_BandW/original.jpg');
  background-size: cover;
  &:hover {
    cursor: pointer;
  }
}

//Navigation CSS
.row {
  @include flexCenter(row);
  gap: 1em;
  padding: 1em;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  margin: 1em;
}

#terminalWrapper {
  @include flexCenter(row);
  width: 36vw;
  height: 100%;
  border: 1px solid $secondary-light;
}

#terminalMain {
  @include flexCenter(column);
  padding: 0.5em;
  text-align: left;
}

#terminalHeader {
  color: $secondary;
  flex-shrink: 0;
  padding-bottom: 0.5em;
}

#terminalControls {
  @include flexCenter(column);
  width: 6vw;
  margin-left: auto;
  border-left: 1px solid $secondary-light;
  >button {
    height: 100%;
  }
}

#terminalText {
  overflow-y: scroll;
  flex: 1;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

#signal  {
  @include message();
  margin: 0;
  padding-left: 0.5em;
  pading-right: 0.5em;
 
  word-break: break-all;
  #incoming {
    color: $secondary-light;
    animation: blinker 1.5s linear infinite;
    
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
  }
}

#current-sector {
  @include caps();
  text-align: left;
  padding: 0.5em;
}

#mini-nav-wrapper {
  position: relative;
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}

#mini-nav, #mini-nav-mask {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid $secondary-light;
  border-radius: 50%;
  overflow: clip;
  height: 100%;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

#mini-nav-mask {
  background-color: $secondary-dark;
  opacity: 1;
  z-index: 1;
  @keyframes flicker {
    25% {
      opacity: 1;
    };
    50% {
      opacity: 0;
    };
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &.on {
    animation: flicker 0.5s steps(4);
    opacity: 0;
    z-index: -1;
    transition: z-index 0.2s 1s
  }
}

#navWrapper {
  @include modal();
  top: 0;
  width: 45vw;
  opacity: 0;
  display: inline-block;
  border: 1px solid $secondary-light;
}


#nav-info-wrapper {
  @include caps();
  text-align: left;
  border-top: 1px solid $secondary-light;
  display: flex;
  height: 15vh;
  padding-left: 1em;
  padding-top: 1em;
}

.nav-detail {
  text-transform: none;
  font-size: 0.8em;
}


#nav-actions {
  @include flexCenter(column);
  margin-left: auto;
  width: 10em;
  border: 0;
  button {
    flex: 1;
  }
}

button {
  font-family: $font-family;
  display: block ;
  padding: 0.5em;
  background-color: $primary-dark;
  color: $font-color;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: $primary;
  }
  &disabled {
    background-color: $primary-dark;
    color: $secondary-dark
  }
}

.sub-btn {
  background-color: $secondary-dark;
  color: $secondary;
  &:hover {
    cursor: pointer;
    color: $secondary-light;
    background-color: $secondary-dark;
  }
  &:disabled {
    opacity: 0;
    cursor: auto;
  }
  transition: opacity 0.5s ease-out;
}

#incoming {
  text-align: center;
}

.show {
  background-color: $secondary-dark;
  color: $secondary;
  opacity: 1 !important;
  z-index: 10 !important;
}

#event {
  @include message();
  @include modal();
  width: 30vw;
  
  #event-title {
    @include caps();
  }
  #event-effect {
    @include flexCenter(column);
    // background-color: $primary;
    color: $secondary-light;
    padding: .5em;
    box-sizing: content;
  }
  .align-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
 
} 

#resources {
  @include flexCenter(row);
  @include caps();
  gap: 1em;
  color: $font-color;
  min-width: 10em;
  > div {
    @include flexCenter(column);
    align-items: baseline;
    padding: 0.25em 1em 0.25em 1em;
    background-color: $primary-dark;
  }
}

#end {
  @include message();
  padding: 6em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60vw;
  height: 60vh;
  color: $font-color;
  border: 0;
  z-index: -1;
  h3, p {
    max-width: 550px
  }
  h3, #ded {
    @include caps();
  }
  #end-text {
    color: $secondary;
  }
  #ded {
    padding-top: 3em;
  }
}

#clickBlocker {
  cursor: grab;
  z-index: 9; // less than event modal
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &.dark {
    background-color: $secondary-dark;
  }
}