
@import 'variables';
@import 'scaffolding';

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

@mixin message() {
 
  text-align: left;
  opacity: 0;
  display: inline-block;
  transition: opacity 1s ease-out;
}

@mixin caps() {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

body {
  @include flexCenter(column);
  font-family: $font-family;
  background-color: $secondary-dark;
}

//Navigation CSS
.row {
  @include flexCenter(row);
  gap: 1em;
  padding: 1em;
}

#signalWrapper {
  margin: 1em;
  padding: .5em;
  width: 30vw;
  height: 25vh;
  border: 1px solid $secondary-light;
}

#signal  {
  @include message();
  margin: 0;
  padding-left: 0.5em;
  pading-right: 0.5em;
 
  word-break: break-all;
  #incoming {
    color: $secondary-light;
    animation: blinker 1.5s linear infinite;
    
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
  }
}

#current-sector {
  @include caps();
  text-align: left;
  padding: 0.5em;
}


#nav-info{
  @include caps();
}

#nav-actions {
  @include flexCenter(column);
  opacity: 0;
  width: 10em;
  border: 0;
  button {
    flex: 1;
  }
}

button {
  font-family: $font-family;
  display: block ;
  padding: 0.5em;
  background-color: $primary-dark;
  color: $font-color;
  border: none;
  &:hover {
    cursor: pointer;
    background-color: $primary;
  }
}

.sub-btn {
  background-color: $secondary-dark;
  color: $secondary;
  &:hover {
    cursor: pointer;
    color: $secondary-light;
    background-color: $secondary-dark;
  }
}

#incoming {
  text-align: center;
}

.show {
  background-color: $secondary-dark;
  color: $secondary;
  opacity: 1 !important;
  z-index: 1;
}

#event {
  @include message();
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 30vw;
  margin: 1em;
  padding: .5em;
  min-width: 400px;
  color: $font-color;
  padding: 1em 1em 2em 1em;
  border: 1px solid $secondary-light;
  #e-title {
    @include caps();
  }
  #e-effect {
    @include flexCenter(column);
    // background-color: $primary;
    color: $secondary-light;
    padding: .5em;
    box-sizing: content;
  }
  .align-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
 
} 

#resources {
  @include flexCenter(column);
  @include caps();
  gap: 1em;
  color: $font-color;
  min-width: 10em;
  #capsule, #player {
    @include flexCenter(column);
    align-items: baseline;
    padding: 0.25em 1em 0.25em 1em;
  }
  #capsule {
    background-color: $primary-dark;
  }
  #player {
    background-color: $primary-dark;
  }
}

#end {
  @include message();
  padding: 6em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 60vw;
  height: 60vh;
  color: $font-color;
  border: 0;
  z-index: -1;
  h3, p {
    max-width: 550px
  }
  h3, #ded {
    @include caps();
  }
  #end-text {
    color: $secondary;
  }
  #ded {
    padding-top: 3em;
  }
}

