@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#event, #signal {
  margin: 1em;
  padding: .5em;
  text-align: left;
  border: 1px solid red;
  opacity: 0;
  width: 30vw;
  height: 25vh;
  display: inline-block;
  transition: opacity 1s ease-out;
}

#signal {
  font-family: 'Courier New',
    monospace;
  word-break: break-all;
}

#incoming {
  text-align: center;
}

.show {
  border: 1px solid red;
  opacity: 1 !important;
}

#event small {
  color: red;
  padding: .5em;
}

#resources {
  display: flex;
  gap: 5em;
  color:white;
  #capsule, #player {
    display: flex;
    gap: 1em;
    padding: 0 1em 0 1em;
  }
  #capsule {
    background-color: red;
  }
  #player {
    background-color: blue;
  }
}


@import 'variables';
@import 'scaffolding';
